<?xml version="1.0"?>
<!--
/**
 * Eighteentech_VirtualFoot module definition
 * 
 * @category  Eighteentech
 * @package   Eighteentech_VirtualFoot
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Eighteentech_VirtualFoot" setup_version="1.0.1">
    </module>
</config>