<?xml version="1.0"?>
<!--
/**
 * Eighteentech_VirtualFoot System Configuration
 * 
 * @category  Eighteentech
 * @package   Eighteentech_VirtualFoot
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="virtualfoot_tab" translate="label" sortOrder="100">
            <label>Virtual Foot</label>
        </tab>
        <section id="virtualfoot" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Virtual Foot Configuration</label>
            <tab>virtualfoot_tab</tab>
            <resource>Eighteentech_VirtualFoot::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configurations</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="region" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region</label>
                </field>
                <field id="country" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                </field>
                <field id="site" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site</label>
                </field>
                <field id="language" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Language</label>
                </field>
                <field id="scanner_url" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Scanner URL</label>
                    <comment>Foot scan URL</comment>
                </field>
            </group>
            <group id="authentications" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Authentications</label>
                <field id="token_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token URL</label>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                </field>
                <field id="autogenerated_token" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Autogenerated Token</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Readonly</frontend_model>
                </field>
            </group>
            <group id="products" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Products</label>
                <field id="product_sync_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Sync URL</label>
                    <comment>Please enter product sync API URL</comment>
                </field>
                <field id="recommendation_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recommendation URL</label>
                    <comment>Please enter product recommendation API URL</comment>
                </field>
                <field id="x_api_key" translate="label" type="password" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>X-API-key</label>
                    <comment>X-api-key for product API</comment>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Schedule</label>
                    <comment>run at midnight {with dynamic cron expression}</comment>
                </field>
            </group>
            <group id="users" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Users</label>
                <field id="registration_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registration URL</label>
                </field>
                <field id="user_x_api_key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>X-API-key</label>
                    <comment>X-api-key for user API</comment>
                </field>
            </group>
        </section>
    </system>
</config>